<a href="https://colab.research.google.com/github/NixVal/CCINCOML_EXERCISES_COM23P/blob/main/exercise6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 6

## Lists

1. Create a list

- The name of the new list should be  `month`

- The list should contain all the months in a year (January, February, March, April, May, June, July, August, September, October, November, December)

In [7]:
month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

2. Display an element

- Display the fourth element 'April' in the `month` list

In [17]:
 month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
 month[3]

'April'

3. Slice the list

- Use slicing to get the last 4 months of the year of (September, October, November, December) of the `month` list

In [20]:
month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
month[8:12]

['September', 'October', 'November', 'December']

- Use slicing to get the first 4 months of the year (January, February, March, April) of the `month` list

In [22]:
month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
month[0:4]

['January', 'February', 'March', 'April']

4. List Methods

- Get the size of the month list using the `len()` method

In [23]:
len(month)

12

- Get the element with the largest value of the month list using `max()`

In [24]:
max(month)

'September'

- Get the element with the smallest value of the month list using `min()`

In [25]:
min(month)

'April'

- Sort the months of the year by alphabetical order using the `sorted()` function

In [26]:
sorted(month)

['April',
 'August',
 'December',
 'February',
 'January',
 'July',
 'June',
 'March',
 'May',
 'November',
 'October',
 'September']

## Tuple

1. Create a tuple with only three elements, the elements are:

- Your month of birth in integers
- Your day of birth in integers
- Your year of birth in integers

Use tuple unpacking to directly assign the month, day, year variable to each elements in your tuple.

In [30]:
month, day, year = 7, 2, 2005
print(month, day, year)

7 2 2005

## Set

1. The list below contains a number of a products of a computer store. Notice that there are duplicate values.

In [11]:
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]

The difference between a list and a set is that a list allows duplicate values. One way to remove duplicates is to convert a list into a set.

Convert the `products` list into a set

In [31]:
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]
unique_prod = set(products)
print(unique_prod)

{'monitor', 'smartphone', 'headphones', 'keyboard', 'powerbank', 'printer', 'tablet', 'laptop', 'mouse', 'projector', 'speakers'}

2. Verify if "headphones" exists in the `products` set  using the `in` operator

In [32]:
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]
print("headphones" in products)

True

## Dictionaries

1. Create a dictionary of your favorites

- Keys should be the type
- Values should be the sample from that type

Example:

food: friedchicken

color: blue

sport: badminton

drink: mangojuice

dessert: cheesetart

In [37]:
favorites = {
    "food": "Hakaw",
    "Color": "Brown",
    "Sport": "Golf",
    "Drink": "Tea",
    "Dessert": "Mochi"
}
print(favorites)

{'food': 'Hakaw', 'Color': 'Brown', 'Sport': 'Golf', 'Drink': 'Tea', 'Dessert': 'Mochi'}

## Loops

1. Write a for loop to iterate all elements of the `month` list. Print each element for every iteration.

In [48]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
for month in months:
  print(month)
print("Done")

January
February
March
April
May
June
July
August
September
October
November
December
Done

2. Write a for loop and add a condition to only display the elements in the `month` list that ends with "ber"

In [101]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
for i in months:
    if i.find("ber") > 0:
      print(i)

September
October
November
December

3. Write a for loop and add a condition to only display the elements in the `month` list that does not end with "ber"

In [106]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
for i in months:
    if i.find("ber") < 0:
      print(i)

January
February
March
April
May
June
July
August

4. Write a for loop and use `range()` to display your firstname five times

In [64]:
for i in range(5):
  print("Raven")

Raven
Raven
Raven
Raven
Raven

5. Write a for loop that iterates over the names list to create a usernames list.

To create a username for each name, make everything lowercase and replace spaces with underscores. Running your for loop over the list:

Example:

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

should create a new list

usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]

In [75]:
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
usernames =[]
for name in names:
  usernames.append(name.lower().replace(" ","_"))
print(usernames)

['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

6. Write a while loop to iterate throught the `month` list

- Break the loop if the element ends with "ber"

In [115]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
for i in months:
  print(i)
  if i.find('ber') > 0:
     break

January
February
March
April
May
June
July
August
September

## Functions

1. Write a python function named population_density that takes two arguments, population and land_area, and returns a population density calculated from those values.

The population density can be calculated using this formula:

population_density = population/land_area

In [95]:
 def population_density(population, land_area):
  return population/land_area

In [96]:
population_density(500, 100)

5.0

2. Write an `averagesteps()` function to compute the average the number of steps you take every day.

- The function should accept a list and compute the average of all elements inside the list

- Create a list with seven elements. The values in the list are your average steps your take everyday.

- Pass the list to the function and call the function

In [99]:
steps_per_day = [200, 240, 480, 360, 460, 370, 510]
def averagesteps(steps_list):
  return sum(steps_list) /len(steps_list)

In [98]:
 print(averagesteps(steps_per_day))

374.2857142857143